@import url("./default.css");



.theme {
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 10;
}

#theme-switch {
    height: 50px;
    width: 100px;
    padding: 0;
    border-radius: 30px;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    color: var(--icon);
    cursor: pointer;
}

#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}



















/*? navbar */
.navbar {
    background-color: var(--nav-bg-color);
    width: 100%;
    height: 70px;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar h3 a {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 3px;
    color: var(--accent-color);
    text-transform: uppercase;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    cursor: pointer;
}

.navbar a:hover {
    color: var(--accent-color);
}










/*? hero */
.hero {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero .hero_text {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero h1 {
    font-size: 36em;
    line-height: 1;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
    will-change: transform;
    color: var(--hero-text);
    font-weight: 700;
    position: absolute;
    z-index: -1;
}

.hero p {
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    font-weight: 700;
}

.hero p span {
    font-weight: 300;
}



















/*? wrapper */
.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    background: var(--wrapper-bg);
    overflow: hidden;
}

.box {
    position: absolute;
}

.boxes {
    position: relative;
}

.textItem {
    display: inline-block;
    font-size: 40vw;
    white-space: nowrap;
    font-weight: 700;
    cursor: default;
    position: relative;
}

.absolute {
    position: relative;
    width: 100%;
    top: 300px;
}







/*? wrapper slide */
.wrapper_slide {
    width: 100%;
    height: 65px;
    margin: auto;
    background: var(--slide-auto);
    overflow: hidden;
    position: relative;
}

.box {
    height: 65px;
    position: absolute;
    background: transparent;
    font-size: 30px;
    line-height: 65px;
    text-align: center;
    color: var(--slide-txt);
    text-transform: uppercase;
}

.boxes {
    position: relative;
}





















/*? certificate */
.container_card {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.container_card .text_container {
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
}

.card__container {
    display: grid;
    row-gap: 3.5rem;
    width: 65%;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
}

.card__article {
    background-color: var(--card-bg);
    margin: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px) scale(0.95);
    transition: none;
    border-radius: 1.5rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.034);
    transition: 0.40s cubic-bezier(.215, .61, .355, 1);
}

.card__article:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.26);
}

.card__img {
    border-radius: 1.5rem;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.card__img img {
    width: 300px !important;
}

.card__data {
    width: 90%;
    background-color: var(--card-bg-hover);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__data .p_selection span {
    background-color: #aa9151;
    color: #fdd663;
    padding: 5px 10px;
    width: auto;
    border-radius: 20px;
    font-size: 12px;
}

.null_date {
    background-color: #aa5151;
    color: #fd6363;
    padding: 5px 17px;
    width: auto;
    border-radius: 20px;
    font-size: 12px;
    width: 180px !important;
    margin-left: 5px;
}

.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity 0.3s;
}

/* Naming animations in hover */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}





















/*? footer */
.footer {
    width: 100%;
    min-height: 300px;
    position: relative;
    background-color: var(--card-bg);
}

.footer_top {
    position: relative;
    height: auto;
    min-height: 50%;
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.fo_section {
    min-height: 260px;
    width: 10%;
    display: flex;
    flex-direction: column;
}

.inf_f {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    cursor: default;
    color: #808080;
}

.fo_section a {
    margin-top: 4px;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
}

.fo_section a:hover {
    color: var(--accent-color);
}

.footer_bottom {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: var(--card-bg-hover);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_bottom p {
    font-size: 13px;
    cursor: default;
}